name: ci-bun

on:
    workflow_call:

jobs:
    ci-bun:
        strategy:
            matrix:
                os: [windows-latest, macOS-latest, ubuntu-latest]
                bun: [latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Check out repo
              uses: actions/checkout@v5

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: ${{ matrix.bun }}

            - name: Bun install, build, and test
              run: |
                  bun install
                  bun run --bun build
                  bun run --bun test
              env:
                  CI: true
